<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">/ Perfil </li>
    </ol>
</nav>
<div class="row justify-content-evenly">
    <div class="col-md-4 card pt-3"><img src="/assets/img/img.jpg" class="card-img-top" alt="..."
        style="max-height: 300px;">
        <div class="card-body">
            <h5>Residente</h5>
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Nombre: </label>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Apellido: </label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Correo: </label>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                    <label for="inputAddress2" class="form-label">Genero: </label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">F</option>
                        <option value="2">M</option>
                        <option value="3">Otro</option>
                    </select>
                </div>
                
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Direccion: </label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
               <h5>Actualizar Contraseña</h5>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Password: </label>
                    <input type="password" class="form-control" id="inputPassword4">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Password: </label>
                    <input type="password" class="form-control" id="inputPassword4">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" >Actualizar Contraseña</button>
                      
                    </div>

            </form>
        </div>
    </div>
    <div class="col-md-7 card pt-3">
       <img src="/assets/img/conjunto cerrado.jpg" class="card-img-top" alt="..."
            style="max-height: 300px;">
       
        <div class="card-body">
            <h5>Cojunto Cerrado</h5>
            <form class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">Nit: </label>
                    <input type="text" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Tipo de condominio: </label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Escoge una opcion</option>
                        <option value="1">Cojunto Cerrado</option>
                        <option value="2">Urbanización</option>
                        <option value="3">Edificio</option>
                        <option value="3">Torre</option>
                    </select>
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Direccion: </label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Correo: </label>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Telefono: </label>
                    <input type="password" class="form-control" id="inputPassword4">
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Descripción: </label>
                    <textarea class="form-control" cols="30" rows="1"></textarea>
                </div>
                <div class="col-12">
                    <label for="formFile" class="form-label">Subir Archivo: </label>
                    <input class="form-control" type="file" id="formFile">
                </div>
            </form>
        </div>
    </div>
</div>