<div class="containerRegister">
  <div class="card card-registrar">
    <div class="row">
      <div class="col-md-6 form-registrar">
        <div class="logo-form-registrar">
          <img src="" alt="" />
          <i class="bi bi-buildings"></i>
          <p>C O M U N I N E X</p>
          <hr />
        </div>
        <div class="formulario-registrar">
          <p style="margin-top: 20px">
            ¡Bienvenido de nuevo! Tu éxito comienza con cada inicio de sesión.
          </p>
          <form class="row g-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="col-md-12">
              <label for="inputAddress2" class="form-label">Correo</label>
              <input type="text" class="form-control"id="username" formControlName="username" />
            </div>
            <div class="col-md-12">
              <label for="inputCity" class="form-label">Password</label>
              <input type="text" class="form-control" id="password" formControlName="password" />
            </div>
            <div class="col-md-12">
              <div class="error-message">{{ errorMessage }}</div>
              <button type="submit" class="btn btn-primary">
                Iniciar Session
              </button>
            </div>
            <div class="col-md-12">
              <label class="registrar"
                >¿No Tienes Cuenta?
                <span
                  ><a
                    [routerLinkActive]="['active']"
                    [routerLink]="['/pageWeb/registrarUser']"
                    >Crear una Cuenta</a
                  ></span
                ></label
              >
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 overlay"></div>
    </div>
  </div>
</div>
