
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">/ Reserva </li>
    </ol>
  </nav>
<div class="card row cardContainer">
    <div class="card-body">
        <div class="row  justify-content-between btn-actions">
          <div class="btn-actions col-md-5">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#reservemodal">
                <i class="fa-solid fa-plus">
                </i> Registrar
                Reserva</button>
        </div>
     
          <div class="inputs search col-md-3">
            <label>
              <input type="text" placeholder="Search here" />
              <i class="fa-solid fa-magnifying-glass"></i>
            </label>
          </div>
        </div>
    
        <div class="row table-container">
          <h5> <i class="bi bi-list-task"></i> Listado de Reserva</h5>
          <hr>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Ubicación</th>
                <th>Descripción</th>
                <th>Capacidad</th>
                <th>Horario</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Piscina</td>
                <td>conjunto</td>
                <td>esta zona es lugar</td>
                <td>100</td>
                <td>8:00 am - 5:00 pm</td>
                <td><span class="badge text-bg-success">Disponible</span></td>
    
                <td>
                  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#reservemodal">
                    <i class="bi bi-eye-fill"></i>
                  </button>
                  <button type="button" class="btn btn-danger" (click)=" deleteReserver()">
                    <i class="bi bi-trash3"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>Piscina</td>
                <td>conjunto</td>
                <td>esta zona es lugar</td>
                <td>100</td>
                <td>8:00 am - 5:00 pm</td>
                <td><span class="badge text-bg-secondary">Inactiva</span></td>
    
                <td>
                  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#reservemodal">
                    <i class="bi bi-eye-fill"></i>
                  </button>
                  <button type="button" class="btn btn-danger" (click)=" deleteReserver()">
                    <i class="bi bi-trash3"></i>
                  </button>
                </td>
              </tr>
    
              <tr>
                <td>1</td>
                <td>Piscina</td>
                <td>conjunto</td>
                <td>esta zona es lugar</td>
                <td>100</td>
                <td>8:00 am - 5:00 pm</td>
                <td><span class="badge text-bg-warning">Warning</span></td>
                <td>
                  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#reservemodal">
                    <i class="bi bi-eye-fill"></i>
                  </button>
                  <button type="button" class="btn btn-danger" (click)=" deleteReserver()">
                    <i class="bi bi-trash3"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row justify-content-end">
          <div class="count-title col-2 justify-content-center">
            <h6>Total de reservas : <strong style="color: #FF6969;">3</strong></h6>
          </div>
        </div>
    
      </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="reservemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Registro de reserva</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            
        <h6>Informacion de las zonas comunes</h6>
        <div class="info-modal">
          <div class="row mt-3">

            <label for="inputText" class="col-md-2 col-form-label" >Nombre :</label>
            <div class="col-md-4">
              <input type="text" class="form-control" disabled>
            </div>

            <label for="inputText" class="col-md-2 col-form-label" disabled>Ubicación :</label>
            <div class="col-md-4">
              <input type="text" class="form-control" disabled>
            </div>

          </div>

          <div class="info-modal">
            <div class="row mt-3">

              <label for="inputText" class="col-md-2 col-form-label">Descripción :</label>
              <div class="col-md-4">
                <input type="text" class="form-control" disabled>
              </div>

              <label for="inputText" class="col-md-2 col-form-label" disabled>Capacidad :</label>
              <div class="col-md-4">
                <input type="text" class="form-control" disabled>
              </div>

            </div>

            <div class="info-modal">
              <div class="row mt-3">
  
                <label for="inputText" class="col-md-2 col-form-label">Horario :</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" disabled>
                </div>
  
                <label for="inputText" class="col-md-2 col-form-select">Estado :</label>
                <div class="col-md-4">
                  <select class="form-select" aria-label="Default select example" disabled rows="1">

                    <option selected>Selecciona</option>
                    <option value="1">Disponible</option>
                    <option value="2">Ocupado</option>
                    <option value="3">Inactivo</option>

                  </select>
                </div>
  
              </div>

            <br>

          <div class="modal-footer">
              <button type="button" class="btn btn-primary"(click)="saveReservation()">Registrar</button>
          </div>
      </div>
      </div>
    </div>