<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">/Zonas </li>
    </ol>
</nav>
<div class="card row cardContainer">
    <div class="card-body">
        <div class="row  justify-content-between btn-actions">
            <div class="btn-actions col-md-5">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#zonaModalAdmin">
                    <i class="fa-solid fa-plus">
                    </i> Registrar
                    zona</button>

            </div>

            <div class="inputs search col-md-3">
                <label>
                    <input type="text" placeholder="Search here" />
                    <i class="fa-solid fa-magnifying-glass"></i>
                </label>
            </div>
        </div>

        <div class="row table-container">
            <h5> <i class="bi bi-list-task"></i> Listado de zonas</h5>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Ubicacion</th>
                        <th>Categoria</th>
                        <th>Descripción</th>
                        <th>Capacidad</th>
                        <th>Horario</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Piscina</td>
                        <td>conjunto</td>
                        <td>Recreacional</td>
                        <td>esta zona es lugar</td>
                        <td>100</td>
                        <td>8:00 am - 5:00 pm</td>
                        <td><span class="badge text-bg-secondary">Inactiva</span></td>

                        <td>
                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#updateZona">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-danger" (click)="deletezone()">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Piscina</td>
                        <td>conjunto</td>
                        <td>Recreacional</td>
                        <td>esta zona es lugar</td>
                        <td>100</td>
                        <td>8:00 am - 5:00 pm</td>
                        <td><span class="badge text-bg-success">Disponible</span></td>

                        <td>
                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#updateZona">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-danger" (click)="deletezone()">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Piscina</td>
                        <td>conjunto</td>
                        <td>Recreacional</td>
                        <td>esta zona es lugar</td>
                        <td>100</td>
                        <td>8:00 am - 5:00 pm</td>
                        <td><span class="badge text-bg-success">Disponible</span></td>

                        <td>
                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#updateZona">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-danger" (click)="deletezone()">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-end">
            <div class="count-title col-2 justify-content-center">
                <h6>Total de zonas : <strong style="color: #FF6969;">3</strong></h6>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="zonaModalAdmin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Datos de La zona</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="zonaForm" class="formReactivo row g-3">
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Nombre</label>
                        <input id="nombre" name="nombre" formControlName="nombre" type="text" class="form-control">
                        <div class="text-danger"
                            *ngIf="zonaForm.get('nombre')?.hasError('required') && zonaForm.get('nombre')?.touched">
                            <span><i class="bi bi-exclamation-circle "></i>El nombre es<strong>
                                    obligatorio</strong></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputAddress" class="form-label">Capacidad</label>
                        <input id="capacidad" name="capacidad" formControlName="capacidad" type="number"
                            class="form-control" placeholder="100">
                        <div class="text-danger"
                            *ngIf="zonaForm.get('capacidad')?.hasError('required') && zonaForm.get('capacidad')?.touched">
                            <span><i class="bi bi-exclamation-circle "></i>La capacidad es<strong>
                                    obligatoria</strong></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Categoria: </label>
                        <select id="categoria" name="categoria" formControlName="categoria" class="form-select"
                            aria-label="Default select example">
                            <option selected>Escoge una opcion</option>
                            <option value="1">recreacional</option>
                            <option value="2">categoria 2</option>
                        </select>
                        <div class="text-danger"
                            *ngIf="zonaForm.get('categoria')?.hasError('required') && zonaForm.get('categoria')?.touched">
                            <span><i class="bi bi-exclamation-circle "></i>La categoria es<strong>
                                    obligatoria</strong></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">Descripción: </label>
                        <textarea id="descripcion" name="descripcion" formControlName="descripcion" class="form-control"
                            cols="30" rows="1"></textarea>
                        <div class="text-danger"
                            *ngIf="zonaForm.get('descripcion')?.hasError('required') && zonaForm.get('descripcion')?.touched">
                            <span><i class="bi bi-exclamation-circle "></i>La descripcion es<strong>
                                    obligatoria</strong></span>
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <label for="formFile" class="form-label">Subir Imagen: </label>
                        <input id="imagen" name="imagen" formControlName="capacidad" class="form-control" type="file">
                        <div class="text-danger"
                            *ngIf="zonaForm.get('imagen')?.hasError('required') && zonaForm.get('imagen')?.touched">
                            <span><i class="bi bi-exclamation-circle "></i>La imagen es<strong>
                                    obligatoria</strong></span>
                        </div>
                    </div> -->
                </form>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-primary" [disabled]="zonaForm.invalid"
                        (click)="saveZona()">Registrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="uploadFile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Archivos </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Subir Archivo: </label>
                    <input class="form-control" type="file" id="formFile">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="updateZona" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Datos de zona</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Informacion de las zonas comunes</h6>

                <form>
                    <div class="info-modal">
                        <div class="row mt-3">

                            <label for="inputText" class="col-md-2 col-form-label">Id :</label>
                            <input type="text" name="id" [(ngModel)]="zonaUpdate.id" class="form-control col-md-4"
                                disabled>

                            <label for="inputText" class="col-md-2 col-form-label">Nombre :</label>
                            <input type="text" name="nombre" [(ngModel)]="zonaUpdate.nombre"
                                class="form-control col-md-4">

                            <label for="inputText" class="col-md-2 col-form-label">Capacidad :</label>
                            <input type="number" name="capacidad" [(ngModel)]="zonaUpdate.capacidad"
                                class="form-control col-md-4">

                            <label for="inputText" class="col-md-2 col-form-label">Categoria</label>
                            <select name="categoria" [(ngModel)]="zonaUpdate.idCategoria" class="form-control col-md-4">
                                <option [value]="1">recreacional</option>
                                <option [value]="2">piscina</option>
                            </select>

                            <label for="inputText" class="col-md-2 col-form-label">Estado</label>
                            <select name="estado" [(ngModel)]="zonaUpdate.estado" class="form-control col-md-4">
                                <option [value]="1">Activo</option>
                                <option [value]="2">Inactivo</option>
                            </select>

                            <label for="inputText" class="col-md-2 col-form-label">Date :</label>
                            <input type="text" name="date" [(ngModel)]="zonaUpdate.date" class="form-control col-md-4"
                                disabled>

                            <label for="inputText" class="form-col-md-2 col-form-label">Descripción: </label>
                            <textarea name="descripcion" [(ngModel)]="zonaUpdate.descripcion" class="form-control"
                                cols="30" rows="1"></textarea>

                            <br><br>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="zonaCategory()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>